/*
[{{ .Contest.ID }}] {{ .Task.Name }} - {{ .Task.Title }}
*/

#include <bits/stdc++.h>
using namespace std;
typedef long long int ll;
typedef pair<int, int> pii;
typedef pair<ll, int> pli;
typedef pair<ll, ll> pll;
#define ALL(c) (c).begin(), (c).end()


ll solve() {


    return ans;
}

int main() {


    cout << solve() << endl;

    return 0;

}
