// {{ .Contest.Name }}
// {{ .Task.Name }} - {{ .Task.Title }}

#include <bits/stdc++.h>
using namespace std;
typedef long long int ll;
typedef pair<int, int> pii;
typedef pair<ll, int> pli;


int solve() {

}

int main() {


    cout << solve() << endl;

    return 0;

}
